:root {
  --max-width-modal-context: 908px;
}

.card {
  box-sizing: border-box;
  min-height: 320px;
  background: #ffffff;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
  transition: background 0.2s;
  max-width: 416px;
  width: 100%;
}

.card:hover {
  background: #e1dddd;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cardImage {
  height: 140px;
  object-fit: contain;
}
.modalHeader {
  border-bottom: 1px solid #1c1c1c;
  text-align: left;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}

.modalBody {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 60px;
}

.modalImage {
  height: 260px;
  object-fit: contain;
}

.modalText {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 40px;
  color: #1c1c1c;
}

.price {
  font-size: 28px;
}

.description {
  font-weight: 500;
  font-size: 18px;
  opacity: 0.7;
}
.modalActions {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.cancel {
  border: 2px solid #409925;
  font: inherit;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 434px;
  width: 100%;
  max-height: 62px;
  height: 100%;
  background-color: #ffffff;
  color: #409925;
  padding: 20px 25px 20px 30px;
  border-radius: 118px;
}
