.card {
  box-sizing: border-box;
  min-height: 320px;
  background: #ffffff;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  cursor: pointer;
  transition: background 0.2s;
  outline: none;
}

.card:hover {
  background: #e1dddd;
}

.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  height: 140px;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.modalHeader {
  border-bottom: solid #828282;
  text-align: left;
}

.modalInfo {
  display: flex;
  text-align: left;
  gap: 20px;
}

.modalImage {
  height: 200px;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.price {
  font-weight: 600;
  font-size: 28px;
}

.modalActions {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.cencel {
  border: 2px solid #409925;
  font: inherit;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 352px;
  width: 100%;
  max-height: 62px;
  height: 100%;
  background-color: #ffffff;
  color: #409925;
  padding: 20px 25px 20px 30px;
  border-radius: 118px;
}
