.modalContainer {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 24px;
  max-width: 1064px;
  width: 100%;
  padding: 40px 78px;
  box-sizing: border-box;
  gap: 40px;
}
