:global(:root) {
  --max-width: 1280px;
}

body {
  background: #f4f4f4;
}

.content {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 35px 0 75px;
}

.title {
  font-size: 64px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 20px;
}
.brandText {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
