* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
